* { 
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family:  sans-serif;
}

:root {
  --root-color:#34568B; 
}

body { 
  background-color: var(--root-color) ;
  display: flex;
  min-height: 100vh;
  justify-content: space-around;
  align-items: center;
}

.wrap-list { 
  height: 400px; 
  width: 300px;
  display: flex;
  flex-direction: column;
  color: white;
}

.wrap-list .title { 
  font-size: 2rem;
  margin-bottom: 12px; 
}

.non-display-task { 
  display: none !important; 
}



.lists { 
  height: 100%;
  overflow-y: auto;
  list-style-type: circle;
  list-style-position: inside; 
}

.list { 
  cursor: pointer;
  font-size: 14px;
  padding: 4px 0px;
}



.active-list { 
  font-size: 16px;
  color: yellow;
}


/* todo CSS tasks */
.wrap-task { 
  height: 360px;
  width: 500px;
  display: flex;
  flex-direction: column;
}


.task {
  height: 300px;
  background-color: white;
}

[data-display-task='flex'] { 
  display: flex;
  flex-direction: column;
}

[data-display-task='none'] { 
  display: none;
}


.header-task { 
  background-color: rgba(0, 0, 0, 0.1);
  padding: 0px 24px;
  height: 62px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.body-task {
  height: 100%;
  padding: 12px 24px; 
  overflow-y: auto;
}


.task-not-complete { 
  font-size: 0.75rem; 
  
}


.add-form { 
  position: relative;
  margin-bottom: 12px;
}

.icon-plus {
    position: absolute;
    top: 50%;  
    left: 2px;
    transform: translate(-50%, -50%);
    font-weight: 600;
}

#wrap-list .icon-plus { 
  color: white;
}

#wrap-task .icon-plus { 
  color: green;
}

.task-form { 
  margin-left: 24px; 
  margin-right: 24px;
}

.input-custom { 
  width: 100%;
  outline: none;
  padding-left: 16px;
  border: none;
}


.input-list {
  background-color: var(--root-color);
  height: 28px;
  color: white;
  border-bottom: 2px solid white;
}

.input-task { 
  height: 28px;
  border-bottom: 1.2px solid black;

}

.input-list::placeholder { 
  color: rgba(250, 250, 250, 0.8)
}


.container-delete { 
  display: flex;
  justify-content: space-around;
  margin-top: 12px; 
}

.delete-btn { 
  background-color: var(--root-color);
  border: none;
  color: white;
  opacity: 0.8;
}

.delete-btn:hover { 
   opacity: 0.6;
   cursor: pointer;
}


/* todo Custom checkbox */
.container {
  display: block;
  position: relative;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-bottom: 0.5px solid gray;
  padding: 6px 35px;

}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 5px;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 5px;
  top: 0px;
  width: 5px;
  height: 12px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}


