@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins:wght@200;300;500&display=swap');
* { 
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}


:root {
  --root-color:#0072B5; 

}

li { 
  list-style: none;
}

input { 
  outline: none;
  border: none;
  border-bottom: 1px solid black;
}

body { 
  background-color: var(--root-color) ;
  display: flex;
  min-height: 100vh;
  justify-content: space-around;
  align-items: center;
}


/* todo CSS lists */
#wrap-lists { 
  height: 400px; 
  display: flex;
  flex-direction: column;
}

#wrap-lists > h2,#wrap-lists > form  { 
  margin-bottom: 12px; 
}

#lists { 
  height: 100%;
  overflow-y: auto;
}
#lists > li { 
  cursor: pointer;
  font-size: 12px;
}

.active-list { 
  font-size: 16px !important; 
  color: yellow;
}


/* todo CSS tasks */
#wrap-tasks { 
  background-color: white;
  height: 300px;
  width: 500px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  border: none;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
}

#header-task { 
  background-color: rgba(0, 0, 0, 0.1);
  padding: 0px 24px;
  height: 62px;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header-task > h3 { 
  font-size: 1.5rem;
}

#body-task,.new-task { 
  padding: 0px 24px; 
}

#body-task { 
  height: 100%;
  overflow-y: auto;
}

.new-task { 
  margin-bottom: 12px;
}

.color-while { 
  color: white;
}

.background-root { 
  background-color: var(--root-color);
  color:white;
  border-bottom: 2px solid white;
}





/* todo Custom checkbox */
.container {
  display: block;
  position: relative;
  /* padding-left: 35px; */
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-bottom: 0.5px solid gray;
  padding: 6px 35px;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 7px;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 5px;
  top: 0px;
  width: 5px;
  height: 12px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}


.delete-btn { 
  background-color: var(--root-color);
  border: none;
  color: white;
  opacity: 1;
  padding: 6px 0px;
}

.delete-btn:hover { 
  cursor: pointer;
  opacity: 0.4;


}

.container-delete { 
  display: flex;
  flex-direction: column;
}